.xkcd-chart-xyline {
  visibility: hidden;
}

.start-django {
  visibility: visible;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1085;
  animation: draw-django 10s linear forwards;
}

@keyframes draw-django {
  to {
    stroke-dashoffset: 50;
  }
}

.start-fastapi {
  visibility: visible;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1400;
  animation: draw-fastapi 10s linear forwards;
}

@keyframes draw-fastapi {
  to {
    stroke-dashoffset: 250;
  }
}

.start-flask {
  visibility: visible;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw-flask 10s linear forwards;
}

@keyframes draw-flask {
  to {
    stroke-dashoffset: 0;
  }
}
