table.custom {
  border-collapse: collapse;

  thead th:first-child,
  thead tr:first-child th,
  tbody th {
    border: 0;
  }

  th:not(thead :first-child) {
    background-color: #e4e4e4;
  }

  td,
  th {
    border: 1px solid;
    padding: 0.5em;
  }

  :is(thead :not(tr:first-child), tbody tr) :is(td, th) {
    &:nth-child(2) {
      border-left: 3px solid;
    }

    &:last-child {
      border-right: 3px solid;
    }
  }

  thead tr:first-child th:not(:first-child) {
    border-bottom: 3px solid;
  }

  tbody tr:last-child td {
    border-bottom: 3px solid;
  }
}
